<% provide :button_text, t("admin.books.form.submit_add") %>
<div>
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t ".add_book" %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-">
          <div class="panel-body">
            <div class="form-group">
              <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
